---
import Badge from '@/components/Badge.astro';
import SectionContainer from '@/components/SectionContainer.astro';
import SocialPill from '@/components/SocialPill.astro';
import LinkedIn from '@/icons/LinkedIn.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout
  title="Components"
  description="El catalogo de componentes de nuestro porfolio">
  <SectionContainer class="py-44 pb-22 flex flex-col gap-y-10">
    <article class="mb-10">
      <h1 class="mb-4 text-xl font-bold">&lt;Badge&gt;</h1>
      <Badge>Disponible para trabajar</Badge>
    </article>

    <article class="mb-10">
      <h1 class="mb-4 text-xl font-bold">&lt;SocialPill /&gt;</h1>
      <div class="flex">
        <SocialPill
          href="https://www.linkedin.com/in/daniel-romero-aguirre-086a4255/">
          <LinkedIn class="size-4 md:size-6" />
          LinkeIn
        </SocialPill>
      </div>
    </article>
  </SectionContainer>
</Layout>
