<section class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-200 [&>p>strong]:font-semibold text-pretty order-2 md:order-1">
    <p>
      Hola me llamo <strong>Daniel Romero Aguirre</strong>, tengo 27 a침os y soy de Ecuador 游쀯릖. La primera vez que programe fue en C++ en una consola de Borland C++, tenia 14 a침os. Hoy en <strong>2024 con +3 a침os</strong>.
    </p>

    <p>
      En mis 칠xitos destaco que he formado parte de <strong>equipos nacionales y extranjeros, trabajando de forma remota todo ese tiempo</strong>. Cuento con amplia experiencia en el <strong>desarrollo de aplicaciones Webs y M칩viles</strong>, teniendo publicadas varias <strong>aplicaciones m칩viles en la PlayStore de google</strong> en mi cuenta de desarrollador.
    </p>

    <p>
      Cuando puedo me gusta colaborar en la comunidad aportando un poco de mi conocimiento, estoy en constante aprendizaje de forma autodidacta realizando proyectos propios.
    </p>
  </div>
  <img
    src="/assets/daniel.jpeg"
    class="rounded-full size-64 order-1 md:order-2 "
  />
</section>
