---
import ExperienceItem from './ExperienceItem.astro';

const EXPERIENCE = [
  {
    date: 'Agosto 2022 - Noviembre 2023',
    title: 'Frontend Developer (Remoto)',
    subtitle: 'Nixi1 · Jornada completa',
    descriptions: [
      '● Solución de bugs en diseño y lógica App y Web Dashboard.',
      '● Mejoras de rendimiento en funcionalidades existentes.',
      '● Implementación de nuevas funcionalidades de acuerdo a requerimientos de diseño utilizando React, React-Native, Redux, Javascript y Typescript en aplicaciones Web y Móvil',
      '● Desarrollo de funcionalidades en App móvil React-Native.',
      '● Componentes reutilizables.',
      '● Solicitudes de API REST propias con Axios.',
      '● Control de versiones Git y GitLab',
      '● Manejo de estilos Sass y StyleSheet para React-Native'
    ],
  },
  {
    date: 'Septiembre 2020 - Abril 2022',
    title: 'Programador de sistemas (Remoto)',
    subtitle: 'Arkadius Cia. Ltda. · Jornada completa',
    descriptions: [
      '● Desarrollar e implementar nuevas funcionalidades de acuerdo a diseño y requerimientos del cliente en sitios web administrativos.',
      '● Desarrollar nuevas funcionalidades en App React-Native de acuerdo con requerimientos.',
      '● Desarrollar nuevas funcionalidades en Web React de acuerdo con requerimientos y Diseño.',
      '● Uso de control de versiones de Git y GitHub.',
      '● Desarrollo de aplicación de escritorio en c#.',
      '● Desarrollar ciertas funcionalidades en Backend.',
      '● Desarrollo de query para PostgreSQL en funcionalidades Backend.',
      '● Implementación de endpoints en strapi.',
    ],
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-4">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
