---
import ExperienceItem from './ExperienceItem.astro';

const EXPERIENCE = [
  {
    date: 'Agosto 2022 - Noviembre 2023',
    title: 'Frontend Developer (Remoto)',
    subtitle: 'Nixi1 · Jornada completa',
    descriptions: [
      '● Solución de bugs en diseño y lógica App y Web Dashboard.',
      '● Mejoras de rendimiento en funcionalidades existentes.',
      '● Implementación de nuevas funcionalidades de acuerdo a requerimientos de diseño.',
      '● Desarrollo de funcionalidades en App móvil React-Native. ● Componentes reutilizables.',
    ],
  },
  {
    date: 'Septiembre 2020 - Abril 2022',
    title: 'Programador de sistemas (Remoto)',
    subtitle: 'Arkadius Cia. Ltda. · Jornada completa',
    descriptions: [
      '● Desarrollar e implementar nuevas funcionalidades de acuerdo a diseño y requerimientos del cliente en sitios web administrativos.',
      '● Desarrollar nuevas funcionalidades en App React-Native de acuerdo con requerimientos.',
      '● Desarrollar ciertas funcionalidades en Back-end.',
    ],
    // link: '#',
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-4">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
